{% extends "LouvreTicketingBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }}
{% endblock %}

{% block subheader %}
    <div class="images">
        <li><img class="left" src="{{ asset('images/louvrephoto.jpg') }}" alt="Photo du louvre"></li>
        <li><img class="center" src="{{ asset('images/photolouvre4.jpg') }}" alt="Photo du louvre"></li>
        <li><img class="right" src="{{ asset('images/photolouvre2.jpg') }}" alt="Photo du louvre"></li>
    </div>
{% endblock %}

{% block hightitle %}
    <div class="container">
        <h1>Réservez vos billets pour le Musée du Louvre</h1>
        <h4>
            Eveillez votre sens de l'art, admirez la Vénus de Milo et 35 000 autres trésors artistiques
        </h4>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-7">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="date_reserve">
                <h3 class="tabstep">Etape 1 : Date de votre visite</h3>
                <div class="blockformstep1 clearfix">
                    <div class="form-group">
                        <div class="col-md-6">
                            <div id="datepicker"></div>
                            {{ form_widget(form.dateVisit) }}
                        </div>
                        <div class="col-md-6">
                            <div id="legend" class="well">
                                <div class="legend_date">
                                    <span id="date_select"><p>15</p></span>Date selectionnée
                                </div>
                                <div class="legend_date">
                                    <span id="date_available"><p>15</p></span>Date disponible
                                </div>
                                <div class="legend_date">
                                    <span id="date_disable"><p>15</p></span>Date indisponible
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="date_reserve">
                <h3 class="tabstep">Etape 2 : Type de billet</h3>
                <div class="blockformstep1 clearfix">
                    <div class="well clearfix">
                        <div class="form-group">
                            <div class="col-md-4">
                                {{ form_widget(form.typeTicket) }}
                            </div>
                            <div class="col-md-8">
                                <p class="infos-block">
                                    <span class="bold"> - Billet journée :</span> valable de 9h à 18h
                                    <br/>
                                    <span class="bold"> - Billet demi-journée :</span> valable de 14h à 18h
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="date_reserve">
                <h3 class="tabstep">Etape 3 : Nombre de billet</h3>
                <div class="blockformstep1">

                    <div class="core">
                        <div id="louvre_ticketingbundle_purchase_tickets" class="form-inline"
                             data-prototype="
                        {% filter escape %}
                             {{ include('LouvreTicketingBundle:Ticket:addticket.html.twig', {'form': form.tickets.vars.prototype }) }}
                            {% endfilter %}">
                            {% for ticket in form.tickets %}
                                {{ include('LouvreTicketingBundle:Ticket:addticket.html.twig', {'form': ticket }) }}
                            {% endfor %}
                        </div>
                    </div>
                    <a href="#" id="add_ticket" class="btn btn-default">Ajouter un billet</a>

                </div>
            </div>

            <div class="date_reserve">
                <h3 class="tabstep">Etape 4 : Indiquez votre e-mail</h3>
                <div class="blockformstep1 clearfix">
                    <div class="well clearfix">
                        <div class="form-group">
                            <div class="col-md-5">
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="col-md-7">
                                <p class="vertical-align">Vos billets vous seront envoyez par mail
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="date_reserve">
                <h3 class="tabstep">Etape 5 : Finalisez votre commande</h3>
                <div class="blockformstep1">
                    <div class="well clearfix" style="text-align: center">
                        <div class="form-inline">
                            {{ form_widget(form.validate) }}
                            {{ form_errors(form.dateVisit) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

        <div class="col-md-5">
            <div class="informations clearfix">
                <h3>Aperçu</h3>
                <hr/>
                <div class="section_new">
                    <div class="col-xs-4">
                        Meilleur moment pour visiter
                    </div>
                </div>
                <div class="section_informations clearfix">
                    <div class="col-xs-8">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> Jeudi et vendredi
                    </div>
                </div>
                <hr/>
                <div class="section_new">
                    <div class="col-xs-4">
                        Horaires d'ouverture
                    </div>
                </div>
                <div class="section_informations clearfix">
                    <div class="col-xs-8">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> Lundi, jeudi, samedi, dimanche : 9h00 - 18h.<br>
                        Mercredi, vendredi : 9h00 - 21h45. Fermé le mardi
                    </div>
                </div>
                <hr/>
                <div class="section_new">
                    <div class="col-xs-4">
                        Les points forts
                    </div>
                </div>
                <div class="section_informations clearfix">
                    <div class="col-xs-8">
                        <i class="fa fa-flag" aria-hidden="true"></i> Le Louvre, l'un des musées de référence au monde,
                        abrite des collections d'arts et savoir-faire des civilisations anciennes jusqu'au milieu du 19e siècle<br/>
                        <br>
                        <i class="fa fa-flag" aria-hidden="true"></i> La Joconde, la Vénus de Milo ainsi que la Victoire Ailée sont des chefs-d'œuvre de renom mais le
                        Louvre abrite plus de 35 000 trésors artistiques. Alors prévoyez suffisamment de temps pour votre visite<br/>
                        <br>
                        <i class="fa fa-flag" aria-hidden="true"></i> Évitez la file d'attente d'achat des billets. Muni de votre coupon, rendez-vous au kiosque à journaux sur la place voisine du Palais Royal
                        pour obtenir votre billet papier. Vous n'avez plus qu'à entrer !<br/>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.fr.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('#louvre_ticketingbundle_purchase_tickets');
            var index = $container.find(':input').length;

            $('#add_ticket').click(function(e) {
                addCategory($container);
                e.preventDefault();
                return false;
            });

            if (index == 0) {
                addCategory($container);
            } else {
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });

            }

            function addCategory($container) {
                var template = $container.attr('data-prototype').replace(/__name__/g, index);
                var $prototype = $(template);
                addDeleteLink($prototype);
                $container.append($prototype);
                index++;
            }

            function addDeleteLink($prototype) {

                var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer ce billet</a>');
                $prototype.append($deleteLink);
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault();
                    return false;
                });
            }
        });
    </script>
{% endblock %}
