{% extends "LouvreTicketingBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }}
{% endblock %}

{% block subheader %}
    <div class="images">
        <li><img class="left" src="{{ asset('images/louvrephoto.jpg') }}" alt="Photo du louvre"></li>
        <li><img class="center" src="{{ asset('images/photolouvre4.jpg') }}" alt="Photo du louvre"></li>
        <li><img class="right" src="{{ asset('images/photolouvre2.jpg') }}" alt="Photo du louvre"></li>
    </div>
{% endblock %}

{% block hightitle %}
    <div class="container">
        <h1>Réservez vos billets pour le Musée du Louvre</h1>
        <h4>
            Eveillez votre sens de l'art, admirez la Vénus de Milo et 35 000 autres trésors artistiques
        </h4>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-7">
            <div class="date_reserve">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <h3 class="tabstep">Etape 1 : Date de votre visite</h3>
                <div class="blockformstep1">
                    <div class="form-group">
                        <div class="col-md-6">
                            <div id="datepicker"></div>
                            {{ form_widget(form.dateVisit) }}
                        </div>
                        <div class="col-md-6">
                            <div id="legend">
                                <div class="legend_date">
                                    <span id="date_select"><p>15</p></span>Date selectionnée
                                </div>
                                <div class="legend_date">
                                    <span id="date_available"><p>15</p></span>Date disponible
                                </div>
                                <div class="legend_date">
                                    <span id="date_disable"><p>15</p></span>Date indisponible
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="date_reserve">
                    <h3 class="tabstep">Etape 2 : Type de billet</h3>
                <div class="blockformstep1 clearfix">
                        <div class="form-group">
                            <div class="col-md-4">
                                {{ form_widget(form.typeTicket) }}
                            </div>
                            <div class="col-md-8">
                                <p class="infos-block">
                                    <span class="bold"> - Billet journée :</span> valable de 9h à 18h
                                    <br/>
                                    <span class="bold"> - Billet demi-journée :</span> de 14h à 18h
                                </p>
                            </div>
                       </div>
                </div>
            </div>

            <div class="date_reserve">
                <h3 class="tabstep">Etape 3 : Nombre de billet</h3>
                <div class="blockformstep1 clearfix">
                    <div class="form-inline" data-prototype="
				{% filter escape %}
					{{ include('LouvreTicketingBundle::addticket.html.twig')}}
				{% endfilter %}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="date_reserve">
                <h3 class="tabstep">Etape 4 : Indiquez votre e-mail</h3>
                <div class="blockformstep1 clearfix">
                    <div class="form-group">
                        <div class="col-md-5">
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="col-md-7">
                            <p class="vertical-align">Vos billets vous seront envoyez sur cette e-mail
                                </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="date_reserve">
                <h3 class="tabstep">Etape 5 : Finalisez votre commande</h3>
                <div class="blockformstep1">
                    <div class="form-group">
                        {{ form_label(form.typeTicket) }}
                        {{ form_widget(form.typeTicket) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        <div class="informations clearfix">
            <h3>Aperçu</h3>
            <hr/>
            <div class="section_new">
                <div class="col-xs-4">
                    Meilleur moment pour visiter
                </div>
            </div>
        <div class="section_informations clearfix">
            <div class="col-xs-8">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Jeudi et vendredi
            </div>
        </div>
        <hr/>
        <div class="section_new">
            <div class="col-xs-4">
                Horaires d'ouverture
            </div>
        </div>
        <div class="section_informations clearfix">
            <div class="col-xs-8">
                <i class="fa fa-clock-o" aria-hidden="true"></i> Lundi, jeudi, samedi, dimanche : 9h00 - 18h.<br>
                Mercredi, vendredi : 9h00 - 21h45. Fermé le mardi
            </div>
        </div>
        <hr/>
        <div class="section_new">
            <div class="col-xs-4">
                Les points forts
            </div>
        </div>
        <div class="section_informations clearfix">
            <div class="col-xs-8">
                <i class="fa fa-flag" aria-hidden="true"></i> Le Louvre, l'un des musées de référence au monde,
                abrite des collections d'arts et savoir-faire des civilisations anciennes jusqu'au milieu du 19e siècle<br/>
                <br>
                <i class="fa fa-flag" aria-hidden="true"></i> La Joconde, la Vénus de Milo ainsi que la Victoire Ailée sont des chefs-d'œuvre de renom mais le
                Louvre abrite plus de 35 000 trésors artistiques. Alors prévoyez suffisamment de temps pour votre visite<br/>
                <br>
                <i class="fa fa-flag" aria-hidden="true"></i> Évitez la file d'attente d'achat des billets. Muni de votre coupon, rendez-vous au kiosque à journaux sur la place voisine du Palais Royal
                pour obtenir votre billet papier. Vous n'avez plus qu'à entrer !<br/>
                <br>

            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.fr.min.js"></script>
    <script>
        $(function() {
            $.fn.datepicker.dates['fr'] = {
                days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
                daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
                daysMin: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
                months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
                monthsShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Jui", "Juil", "Aou", "Sep", "Oct", "Nov", "Dec"],
            };
            $('#datepicker').datepicker({
                language: "fr",
                daysOfWeekDisabled: '0, 2',
                startDate: '1',
            });
        });
    </script>

{% endblock %}
