{% extends "LouvreTicketingBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }}
{% endblock %}

{% block subheader %}
    <div class="images">
        <li><img class="left" src="{{ asset('images/louvrephoto.jpg') }}" alt="Photo du louvre"></li>
        <li><img class="center" src="{{ asset('images/photolouvre4.jpg') }}" alt="Photo du louvre"></li>
        <li><img class="right" src="{{ asset('images/photolouvre2.jpg') }}" alt="Photo du louvre"></li>
    </div>
{% endblock %}

{% block hightitle %}
    <div class="container">
        <h2>Récapitulatif de votre commande</h2>
        <h4>
            Vérifiez vos informations et reglez votre commande
        </h4>
    </div>
{% endblock %}

{% block body %}
<div class="container">
    <div class="col-md-7">
        <div class="date_reserve">
            <h3 class="tabstep">Etape 1 : Vérifiez votre commande</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Désignation</th>
                            <th>Détails du billet</th>
                            <th>Prix du billet</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                    <tr>
                        <td>
                            {% if purchase.typeTicket == "journee" %}
                                <p>

                                    <b><span class="billet"> .: Billet journée :.</span></b>
                                    {% else %}
                                        <b><span class="billet"> .: Billet demi-journée :.</span></b>
                                    {% endif %}
                                </p>
                            <p>
                                <span class="bold">Date de visite :</span> {{ purchase.dateVisit|date('d/m/y') }}
                            </p>
                        </td>
                        <td class="tickets_detail">
                            {{ ticket.buyerLastname|upper }} {{ ticket.buyerFirstname|capitalize }}
                            <span class="bold">
							{% if ticket.ticketPrice == 0.00 %}(Tarif enfant, moins de 4 ans){% endif %}
                                {% if ticket.ticketPrice == 8.00 %}(Tarif enfant, 4 à 12 ans){% endif %}
                                {% if ticket.ticketPrice == 16.00 %}(Tarif normal){% endif %}
                                {% if ticket.ticketPrice == 12.00 %}(Tarif senior, à partir de 60 ans){% endif %}
                                {% if ticket.ticketPrice == 10.00 %}(Tarif réduit){% endif %}
						</span>
                        </td>
                        <td class="ticket_price text-right bold">
                            {{ ticket.ticketPrice|number_format(2) }} €
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <th colspan="3" class="total_price text-right bold">Montant total de la commande : {{ totalPrice|number_format(2) }} €</th>
                    </tfoot>
                </table>

            </div>
        </div>

        <div class="date_reserve">
            <h3 class="tabstep">Etape 2 : Réglez votre commande</h3>
        </div>
    </div>

    <div class="col-md-5">
        <div class="informations clearfix">
            <h3>Aperçu</h3>
            <hr/>
            <div class="section_new">
                <div class="col-xs-4">
                    Meilleur moment pour visiter
                </div>
            </div>
            <div class="section_informations clearfix">
                <div class="col-xs-8">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Jeudi et vendredi
                </div>
            </div>
            <hr/>
            <div class="section_new">
                <div class="col-xs-4">
                    Horaires d'ouverture
                </div>
            </div>
            <div class="section_informations clearfix">
                <div class="col-xs-8">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Lundi, jeudi, samedi, dimanche : 9h00 - 18h.<br>
                    Mercredi, vendredi : 9h00 - 21h45. Fermé le mardi
                </div>
            </div>
            <hr/>
            <div class="section_new">
                <div class="col-xs-4">
                    Les points forts
                </div>
            </div>
            <div class="section_informations clearfix">
                <div class="col-xs-8">
                    <i class="fa fa-flag" aria-hidden="true"></i> Le Louvre, l'un des musées de référence au monde,
                    abrite des collections d'arts et savoir-faire des civilisations anciennes jusqu'au milieu du 19e siècle<br/>
                    <br>
                    <i class="fa fa-flag" aria-hidden="true"></i> La Joconde, la Vénus de Milo ainsi que la Victoire Ailée sont des chefs-d'œuvre de renom mais le
                    Louvre abrite plus de 35 000 trésors artistiques. Alors prévoyez suffisamment de temps pour votre visite<br/>
                    <br>
                    <i class="fa fa-flag" aria-hidden="true"></i> Évitez la file d'attente d'achat des billets. Muni de votre coupon, rendez-vous au kiosque à journaux sur la place voisine du Palais Royal
                    pour obtenir votre billet papier. Vous n'avez plus qu'à entrer !<br/>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
